
lecture1/DummyCreditData.xlsx
lecture1/exercise.ipynb
lecture1/unit1.py
lecture1/unit2.ipynb
lecture1/unit2.py
lecture1/.ipynb_checkpoints/exercise1_solution-checkpoint.ipynb
lecture1/exercise1_solution.ipynb
lecture1/exercise1.ipynb
lecture1/exercise1.ipynb
lecture1/.ipynb_checkpoints/exercise1-checkpoint.ipynb
lecture2/exercise2_solution.ipynb
lecture2/.ipynb_checkpoints/exercise2-checkpoint.ipynb
lecture2/.ipynb_checkpoints/exercise2_solution-checkpoint.ipynb
lecture2/exercise2.ipynb
lecture4/.ipynb_checkpoints/lecture4_1-checkpoint.ipynb
lecture4/.ipynb_checkpoints/lecture4_2-checkpoint.ipynb
lecture4/.ipynb_checkpoints/lecture4-checkpoint.ipynb
lecture5/.ipynb_checkpoints/ch15_part1-checkpoint.ipynb
lecture4/.ipynb_checkpoints/exercise3-solution-checkpoint.ipynb
lecture4/exercise3-solution.ipynb
lecture5/.ipynb_checkpoints/ch15_part2-checkpoint.ipynb
lecture5/.ipynb_checkpoints/ch15_part3-checkpoint.ipynb
lecture5/.ipynb_checkpoints/lecture5-checkpoint.ipynb
