
lecture1/DummyCreditData.xlsx
lecture1/exercise.ipynb
lecture1/unit1.py
lecture1/unit2.ipynb
lecture1/unit2.py
lecture1/.ipynb_checkpoints/exercise1_solution-checkpoint.ipynb
lecture1/exercise1_solution.ipynb
lecture1/exercise1.ipynb
lecture1/exercise1.ipynb
lecture1/.ipynb_checkpoints/exercise1-checkpoint.ipynb
lecture2/exercise2_solution.ipynb
lecture2/.ipynb_checkpoints/exercise2-checkpoint.ipynb
lecture2/.ipynb_checkpoints/exercise2_solution-checkpoint.ipynb
lecture2/exercise2.ipynb
lecture4/.ipynb_checkpoints/lecture4_1-checkpoint.ipynb
lecture4/.ipynb_checkpoints/lecture4_2-checkpoint.ipynb
lecture4/.ipynb_checkpoints/lecture4-checkpoint.ipynb
lecture5/.ipynb_checkpoints/ch15_part1-checkpoint.ipynb
lecture4/.ipynb_checkpoints/exercise3-solution-checkpoint.ipynb
lecture4/exercise3-solution.ipynb
lecture5/.ipynb_checkpoints/ch15_part2-checkpoint.ipynb
lecture5/.ipynb_checkpoints/ch15_part3-checkpoint.ipynb
lecture5/.ipynb_checkpoints/lecture5-checkpoint.ipynb
lecture5/.ipynb_checkpoints/lecture5_2-checkpoint.ipynb
lecture5/Recurrent Neural Networks for Modeling Sequential Data.pdf
lecture5/.ipynb_checkpoints/lecture5_2_colab-checkpoint.ipynb
lecture4/.ipynb_checkpoints/exercise3_solution-checkpoint.ipynb
lecture2/.ipynb_checkpoints/exercise2-resit-checkpoint.ipynb
lecture5/.ipynb_checkpoints/lecture5_2 (1)-checkpoint.ipynb
lecture5/lecture5_2 (2).ipynb
lecture5/lecture5_2 (1).ipynb
lecture4/sample_narrow.csv
lecture4/sample_wide.csv
lecture4/sample_wide.csv
lecture2/exercise2-resit.ipynb
lecture4/exercise3_solution.ipynb
lecture1/.ipynb_checkpoints/lecture1-checkpoint.ipynb
lecture1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
lecture1/Untitled.ipynb
lecture2/.ipynb_checkpoints/exercise2_resit_solution-checkpoint.ipynb
lecture2/.ipynb_checkpoints/lecture2-checkpoint.ipynb
lecture2/exercise2_resit_solution.ipynb
lecture3/.ipynb_checkpoints/lecture3-checkpoint.ipynb
lecture5/.ipynb_checkpoints/Exercise3-checkpoint.ipynb
lecture5/.ipynb_checkpoints/lecture5_1-checkpoint.ipynb
lecture1/figures/02_15_1.png
lecture1/figures/02_15_1.png
lecture1/figures/02_15_2.png
*.png
*.png
lecture6/.ipynb_checkpoints/lecture6-self-attention-checkpoint.ipynb
lecture6/bonus-distilbert-lightning-trainer/distilbert_finetuning-full.ipynb
lecture1/lecture1.ipynb
lecture4/lecture4.ipynb
lecture1/figures/02_15_1.png
lecture1/figures/02_15_2.png
lecture1/lecture1.ipynb
lecture6/.ipynb_checkpoints/lecture7-gpt-bert-checkpoint.ipynb
lecture7/.ipynb_checkpoints/lecture7-part-1-checkpoint.ipynb
lecture7/.ipynb_checkpoints/lecture7-part-2-checkpoint.ipynb
lecture7/.ipynb_checkpoints/lecture-7-part-2-colab-checkpoint.ipynb
